<div class="container mt-5">
    <div class="row">
        <form action="/novoproduto" method="post" enctype="multipart/form-data">
            <label for="nomeProduto">Nome do Produto</label><br>
                <input type="text" name="nomeProduto"><br>

            <label for="marcaProduto">Marca/Tipo do Produto</label><br>
                <input type="text" name="marcaProduto"><br>

            <label for="pesoProduto">Peso do Produto</label><br>
                <input type="text" name="pesoProduto"><br>

            <label for="linhaProduto">Linha do Produto</label><br>
                <input type="text" name="linhaProduto"><br>

            <label for="precoProduto">Preço do Produto</label><br>
                <input type="text" name="precoProduto"><br>

            <label for="validadeProduto">Validade do Produto</label><br>
                <input type="text" name="validadeProduto"><br>

            <label for="imagemProduto">Imagem do Produto</label><br>
                <input type="file" name="imagemProduto"><br><br>

            <button type="submit">Cadastrar</button>
        </form>
    </div>
</div>