<div class="container mt-5 mb-5 text-center">
    <a href="/" class="text-decoration-none text-dark">
        <h1 class="fst-italic">Sistema</h1>
    </a>
    <button class="btn btn-primary" type="button">
        <a href="/adicionar" class="text-decoration-none text-light">Adicionar Produto</a>
    </button>
</div>