<div class="container mt-5">
    <a href="/" class="text-decoration-none text-dark">
        <h1 class="fst-italic">Sistema</h1>
    </a>
    <form action="" method="post">
        <div class="input-group mb-5">
            <input type="text" class="form-control" placeholder="Pesquisar" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            <button class="btn btn-dark">PESQUISAR</button>
            <button class="btn btn-primary" type="button">
                <a href="/admin" class="text-decoration-none text-light">ADMIN</a>
            </button>
        </div>
    </form>
</div>