<%- include("./partials/header.ejs") %>
<body>
    <%- include("./partials/navbar.ejs") %>
    <%- include("./partials/produto.ejs") %>
    <%- include("./partials/produtoVencendo.ejs") %>
</body>
</html>